
<div class="container" id="main">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Event name</label>
            <input #eventname type="text" class="form-control" id="eventname" placeholder="Alumni meet">

        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Event Description</label>
            <input #eventdesc type="text" class="form-control" id="eventdesc" placeholder="Meet">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Event date:</label><br>
            <div class="col-10">
                <input class="form-control" #eventdate type="datetime-local" value="2020-04-19T13:45:00"
                    id="example-datetime-local-input">
            </div>


        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">batch:</label><br>
            <input #eventbatch type="text"  class="form-control" id="batch" placeholder="2017-2020">

        </div>
        <button (click)="submitdata(eventname.value, eventdesc.value, eventdate.value, eventbatch.value)" id="button"
          class="btn btn-primary">Submit</button>

    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</div>

