<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/Seal_of_Goa.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Alumni Tracking System
  </a>
</nav>